COMPANY_NAME='Yhs'
TWITTER_CREATOR='@youngkrutch'
TWITTER_SITE=''
SITE_NAME='Yhs'
SHOPIFY_REVALIDATION_SECRET='Random Secret'
SHOPIFY_STOREFRONT_ACCESS_TOKEN='Shopify Key'
SHOPIFY_STORE_DOMAIN="sohohelp.myshopify.com/"